/*This library was created by bla bla bla bla!*/

body {
  color:white;
  background:red;
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.header {
  display:block;
  height:250px;
}
